<div onload="document.getElementById('id01').style.display='block'" id="id01" class="modal login-dark">
    <form method="post modal-content animate" [formGroup]="logInForm!" (ngSubmit)="okForm()">
        <div class="form-group">
            <input class="form-control" type="text" placeholder="שם פרטי" formControlName="UserFirstName" /><br>
            <div *ngIf="getFirstName.invalid && (getFirstName.dirty||getFirstName.touched)">
                <p *ngIf="getFirstName.hasError('required')">שדה חובה</p>
                <p *ngIf="getFirstName.hasError('checkName') && !getFirstName.hasError('required')">שדה זה יכול להכיל
                    אותיות
                    בעברית בלבד</p>
            </div>
        </div>
        <div class="form-group">
            <input class="form-control" type="text" placeholder="שם משפחה" formControlName="UserLastName" /><br>
            <div *ngIf="getLastName.invalid && (getLastName.dirty||getLastName.touched)">
                <p *ngIf="getLastName.hasError('required')">שדה חובה</p>
                <p *ngIf="getLastName.hasError('checkName') && !getLastName.hasError('required')">שדה זה יכול להכיל
                    אותיות
                    בעברית
                    בלבד</p>
            </div>
        </div>
        <div class="form-group">
            <input class="form-control" type="tel" placeholder="פלאפון" formControlName="UserPhone" /><br>
            <div *ngIf="getPhoneNumber.invalid && (getPhoneNumber.dirty||getPhoneNumber.touched)">
                <p *ngIf="getPhoneNumber.hasError('required')">שדה חובה</p>
                <p *ngIf="getPhoneNumber.hasError('checkPhoneNumbers') && !getPhoneNumber.hasError('required')">שדה זה
                    יכול
                    להכיל
                    ספרות בלבד</p>
                <p
                    *ngIf="getPhoneNumber.hasError('checkPhoneLength') && !getPhoneNumber.hasError('required') && !getPhoneNumber.hasError('checkPhoneNumbers')">
                    שדה זה חייב להכיל 10 ספרות</p>
            </div>
        </div>
        <div class="form-group">
            <input class="form-control" type="email" placeholder="כתובת מייל" formControlName="UserEmail" /><br>
            <div *ngIf="getPhoneNumber.invalid && (getEmailAddress.dirty||getEmailAddress.touched)">
                <p *ngIf="getEmailAddress.hasError('required')">שדה חובה</p>
                <p *ngIf="getEmailAddress.hasError('pattern') && !getEmailAddress.hasError('required')">כתובת לא חוקית
                </p>
            </div>
        </div>
        <div class="form-group">
            <input class="form-control" type="password" placeholder="סיסמא" formControlName="Password" /><br>
            <div *ngIf="getPassword.invalid && (getPassword.dirty||getPassword.touched)">
                <p *ngIf="getPassword.hasError('required')">שדה חובה</p>
                <p *ngIf="getPassword.hasError('pattern') && !getPassword.hasError('required')">שדה זה חייב להכיל לפחות
                    אות
                    אחת
                    וספרה אחת, מינימום 6 תווים</p>
            </div>
        </div>
        <div class="form-group">
            <input type="checkbox" formControlName="FirstAidCertificate" /><label>תעודת עזרה
                ראשונה</label><br>
            <div
                *ngIf="getAidFirstCartificate.invalid && (getAidFirstCartificate.dirty||getAidFirstCartificate.touched)">
                <p *ngIf="getAidFirstCartificate.hasError('required')">שדה חובה</p>
            </div>
        </div>
        <div class="form-group d-flex justify-content-center">
            <input class="btn btn-primary btn-block" type="submit" [disabled]="logInForm.invalid" />
        </div>
    </form>
</div>